[MASTER]
#C0116: missing-function-docstring
#R0911: Too many return statements
#R0912: too-many-branches
#R1705: no-else-return
#W0707: raise-missing-from
disable=
    C0116, R0911, R0912, R1705, W0707
